.logo {
  width: 120px;
  height: 31px;
  background: #0A0A0A;
  border-radius: 6px;
  margin: 16px 24px 16px 0;
  float: left;
  display: flex;
  align-items: center;
}

.logo > p{
  color: #DD8E05;
  margin-left: 2.75em;
}